<style>
  input[type="text"] {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  button {
    background-color: white;
    border: 2px solid silver;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    padding: 10px 40px;
  }
  button:hover {
    background-color: hsl(204, 100%, 95%);
    border-color: hsl(204, 100%, 27%);
  }
  button:active {
    border-color: black;
  }

  #container {
    border: 2px darkred dashed;
    padding: 20px;
  }

  .search_container {
    display: flex;
  }
  .result_table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .result_cell {
    padding: 0.5rem;
  }
  .result_cell.head {
    background-color: hsl(204, 100%, 27%);
    color: white;
  }
  .result_row_bg {
    background-color: hsl(204, 100%, 96%);
  }

  .loading_container {
    display: flex;
  }
  .loading_bar {
    background-color: brown;
    height: 2.5rem;
    width: 0.75rem;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    animation-name: loading;
    margin-inline: 1px;
  }
  @keyframes loading {
    10% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.2);
    }
    90% {
      transform: scale(1, 1);
    }
  }
  .loading_1 {
    animation-delay: 0s;
  }
  .loading_2 {
    animation-delay: 0.2s;
  }
  .loading_3 {
    animation-delay: 0.4s;
  }
  .loading_4 {
    animation-delay: 0.6s;
  }
  .loading_5 {
    animation-delay: 0.8s;
  }
</style>

<div id="container">
  <demo-user></demo-user>
  <div>
    <h1 class="heading"><strong>Microfrontend 2 </strong>Demo</h1>

    <div class="req-group">
      <div class="search_container">
        <input
          name="searchTerm"
          placeholder="type and enter to search"
          type="text"
          [(ngModel)]="searchTerm"
          (keypress)="searchFieldKeypress($event)"
        />
        <button (click)="search(searchTerm)">Suchen</button>
      </div>
      <!-- Anzeigen nur wenn Daten vorhanden -->
      <div *ngIf="shownRepos.length > 0 && !loading" class="result_table">
        <div class="result_cell head">ID</div>
        <div class="result_cell head">Name</div>
        <div class="result_cell head">Description</div>
        <div class="result_cell head">URL</div>
        <!-- Schleife über Daten, bei jedem zweiten Eintrag: Hintergrundfarbe -->
        <ng-container *ngFor="let repo of shownRepos; let i = index">
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.id }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.name }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.description ? repo.description : "no description" }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.html_url }}
          </div>
        </ng-container>
      </div>
      <!-- Anzeigen wenn am Laden -->
      <div class="loading_container" *ngIf="loading">
        <!-- Ladeanimation -->
        <div class="loading_bar loading_1"></div>
        <div class="loading_bar loading_2"></div>
        <div class="loading_bar loading_3"></div>
        <div class="loading_bar loading_4"></div>
        <div class="loading_bar loading_5"></div>
      </div>
      <!-- Anzeigen wenn keine Daten vorhanden und nicht am Laden -->
      <div *ngIf="!loading && shownRepos.length === 0">no data available</div>
    </div>
  </div>
</div>
