<style>
  input[type="text"] {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  button {
    border: 2px solid silver;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  button:active {
    border-color: black;
  }

  #container {
    border: 2px darkred dashed;
    padding: 20px;
  }
</style>

<div id="container">
  <demo-user></demo-user>
  <div>
    <h1 class="heading"><strong>Microfrontend 2 </strong>Demo</h1>

    <div class="req-group">
      <div class="search_container">
        <input
          name="searchTerm"
          placeholder="type and enter to search"
          type="text"
          [(ngModel)]="searchTerm"
          (keypress)="searchFieldKeypress($event)"
        />
        <button (click)="search(searchTerm)">Suchen</button>
      </div>
      <!-- Anzeigen nur wenn Daten vorhanden -->
      <div *ngIf="shownRepos.length > 0 && !loading" class="result_table">
        <div class="result_cell head">ID</div>
        <div class="result_cell head">Name</div>
        <div class="result_cell head">Description</div>
        <div class="result_cell head">URL</div>
        <!-- Schleife über Daten, bei jedem zweiten Eintrag: Hintergrundfarbe -->
        <ng-container *ngFor="let repo of shownRepos; let i = index">
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.id }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.name }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.description ? repo.description : "no description" }}
          </div>
          <div class="result_cell" [ngClass]="{ result_row_bg: i % 2 }">
            {{ repo.html_url }}
          </div>
        </ng-container>
      </div>
      <!-- Anzeigen wenn am Laden -->
      <div class="loading_container" *ngIf="loading">
        <!-- Ladeanimation -->
        <div class="loading_bar loading_1"></div>
        <div class="loading_bar loading_2"></div>
        <div class="loading_bar loading_3"></div>
        <div class="loading_bar loading_4"></div>
        <div class="loading_bar loading_5"></div>
      </div>
      <!-- Anzeigen wenn keine Daten vorhanden und nicht am Laden -->
      <div *ngIf="!loading && shownRepos.length === 0">no data available</div>
    </div>
  </div>
</div>
